head.bg {
  /* The image used */
  background-image: url('{{ STATIC_URL }} images3.jpeg') ;

  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }